body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(img/one.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(9px);
  -webkit-filter: blur(9px);
  transition: all 1s;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 50%;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1s;
}

.content .logo {
  height: 320px;
  width: 320px;
}

.content .title {
  transform: translateY(-50px);
  font-size: 2.2rem;
  margin-top: 1rem;
}

.content .text {
  transform: translateY(-50px);
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

footer {
  padding: 1.7rem;
}

footer p {
  margin: 0;
}

@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  .content {
    top: 3%;
    margin-top: 5px;
  }

  .content .title {
    transform: translateY(-70px);
    font-size: 2rem;
  }

  .content .text {
    display: none;
  }

  .content .logo {
    width: 240px;
    height: 240px;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .services div {
    border-bottom: 2px solid #333;
    padding: 1.2rem 1rem;
  }
}

html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-thumb {
  background-color: #7775;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

html::-webkit-scrollbar-track {
  background-color: #5555;
}
